.wrapper-pomodoro {
    @apply relative w-full h-72 flex justify-center items-center cursor-pointer;
}

.wrapper-pomodoro > svg {
    @apply w-72 h-72 text-primaryInvert-10 -rotate-90 transition-transform-custom;
}

.circle-animated {
    @apply transition-all duration-300 ease-in-out;
}

.wrapper-pomodoro > div {
    @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

.wrapper-pomodoro > div > h4 {
    user-select: none;
    -webkit-user-select: none;
    @apply text-3xl-bold text-center;
}

.wrapper-alert {
    @apply w-full h-7 text-center text-lg-bold text-primaryInvert-70 flex justify-center items-center;
}

.wrapper-alert > p {
    user-select: none;
    -webkit-user-select: none;
    @apply min-w-24 h-full text-center cursor-default;
}

.wrapper-buttons {
    @apply w-full flex justify-center items-center gap-4;
}
