.wrapper-completed-box > svg {
    @apply w-7 h-7 ml-px text-primaryInvert-70;
}

.wrapper-completed-box-loaded {
    @apply border-primaryInvert-50;
}

.wrapper-completed-box-scale {
    animation: scale 0.3s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
